*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.webp !text !filter !merge !diff
*.bmp !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.ico !text !filter !merge !diff
